@font-face {
    font-family: "Balsamic";
    src: url(res/fonts/BalsamiqSans-Regular.ttf)
}

html, body {
    height: 100%;
}

html {
    background-color: #1777bd;
    text-align: center;
}
body {
    margin:0;
}
div ul{
    list-style: none;
    background-color: white;
    padding:25px;
    width:50%;
    margin:auto;
    border-top-left-radius: 20px;
    -webkit-box-shadow: 5px 5px 15px 0px black;
    -moz-box-shadow: 5px 5px 15px 0px black;
    box-shadow: 5px 5px 15px 0px black;
}
li {
    /* border: 1px solid black; */
    margin-bottom: 20px;;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.41);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.41);
}
h1,h2 {
    text-align: center;
    font-family: "Balsamic";
}
button {
    border:none;
    background-color: transparent;
}
footer {
    position: fixed;
    bottom:0;
    width:100%;
    background:white;
    font-size:13px;
    opacity:0.5;
    -webkit-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.75);
}
/****************** SEARCH *****************/
header {
    width:100%;
    border-bottom: 1px solid black;
    padding-bottom:10px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}

input + button {
    height:21px;
}



/****************** POST HEADER *****************/
.post-author, .post-header {
    display:flex;
    justify-content: flex-start;
    align-items: baseline;
}
.post-author > p {
    font-size:20px;
    margin-right : 15px;
}
.post-author > img {
    margin : 5px;
}
.post-date {
    color:lightgray;
    font-style: italic;
    font-size:12px;
}
#profile-pic {
    border:2px solid darkcyan;
    border-radius: 20px;
}
/******************* CONTENT **************/
.post-content {
    text-align:justify;
}

.post-content > img {
    width:100%;
}

.post-content + button {
    border:none;
}
.like-button {
    
    border-radius:20px;
    transition: 0.3s;
}
.like-button:hover {
    background-color:darkcyan;
    transition: 0.3s;
}
img + .post-text {
    width:100%;
    padding:0 10px 0 10px;
    text-align:justify;
}

/**
 * WIP LOGIN PAGE
*/

.main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* y axis */
    align-items: center; /* x axis */
}

.card {
    background-color: #fff;
    width: 30%;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
}

form {
    width: 60%;
    display: flex;
    flex-direction: column;
}

form button[type="submit"] {
    height:auto;
    color: #fff;
    background-color: #0D579B;
    align-self: center; /* don't take the 100% width of the flex parent */
}

form .field {
    
    margin-top: 16px;
    padding: 8px 16px;
}
/*.accent-link*/
form ~ a {
    color: #4CC8FF;
}